<!DOCTYPE html>
{% extends 'main_pages/base.html' %}
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/NewsPage.css' %}" >
	<title>Contact Us</title>
</head>
<body>
{% block content %}
<div id="wrap">
 <div class = "heading">
	<img class = "logo" src = "../../static/images/logo.jpg" width="100" height="100" alt="">
 </div>

<p>
    <img class = "undercons" src = "../../static/images/undercons.jpg" alt="Under Construction">
</p>


<footer>
    <h2><b>
        Copyright Group Two 2020.
    </b></h2>
</footer>
</div>
{% endblock %}
</body>
</html>
