<!DOCTYPE html>
{% extends 'main_pages/base.html' %}
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepg-css.css' %}">
	<title>Contact Us</title>
</head>
<body>
{% block content %}

<center>
     <h1>Please contact us with any and all issues.</h1>
</center>

<br>

<center>
    <h2>
        <p>Issues with points balance?</p>
        <p>Need help logging in?</p>
    </h2>
        <h3>
        <p>Contact us directly via email: customerservice@mavpoints.com</p>
        <p>Call us at: 402-555-5555/</p>
        </h3>
</center>


{% endblock %}
</body>
</html>
