<!DOCTYPE html>
{% extends 'main_pages/base.html' %}
{% load static %}
<html lang="en">

<head>
<title>Welcome to MavPoints</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base-style.css' %}">
</head>

<body>
{% block content %}

<center>
    <img class = "undercons" src = "../../static/images/Centerpic-home.jpg" alt="Points Matter" width="800" height="150";>
</center>


<center>
<h2>
    <p>
    Benefits to Membership
    </p>
</h2>
    <h3>
        <p>
            1) Stackable Points!
        </p>
        <p>
            2) Points can be used towards rewards!
        </p>
        <p>
            3) No expiration!
        </p>
    </h3>
</center>
<center>
<img class = "undercons" src = "../../static/images/HP_BullPic.png" alt="Mav Logo" width="550" height="550";>
</center>
{% endblock %}
</body>
</html>
