<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}My shop{% endblock %}</title>
  <link href="{% static 'css/shop.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/base-style.css' %}">
</head>
<body>
    <div class="topnav" id="myTopnav">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href="{% url 'MavPoints:employee_home' %}" class="active">Employee Home Page</a>
                <a href="{% url 'MavPoints:view_customers' %}">Customer List</a>
            {% else %}
                <a href="{% url 'MavPoints:home' %}" class="active">Mav Points</a>
                <a href="{% url 'MavPoints:promotions' %}">Rewards</a>
                <a href="{% url 'MavPoints:rewards' %}">Account Overview</a>
                <a href="{% url 'MavPoints:rewards' %}">Promotions</a>
                <a href="{% url 'MavPoints:contact' %}">Contact Us</a>
                <a href="{% url 'shop:product_list' %}">Shop</a>
            {% endif %}
        {% else %}
            <a href="{% url 'MavPoints:home' %}" class="active">Mav Points</a>
            <a href="{% url 'MavPoints:create_account' %}">Sign Up</a>
            <a href="{% url 'MavPoints:promotions' %}">Rewards</a>
            <a href="{% url 'MavPoints:rewards' %}">Account Overview</a>
            <a href="{% url 'MavPoints:rewards' %}">Promotions</a>
            <a href="{% url 'MavPoints:contact' %}">Contact Us</a>
        {% endif %}


         <div class = "topnav-right" id="myTopnav2">
             {% if user.is_authenticated %}
                 <a href="{% url 'logout' %}">Logout</a>
             {% else %}
                 <a href="{% url 'login' %}">Login</a>
             {% endif %}
         </div>
    </div>
    <div id="subheader">
        <div class="cart">
          {% with total_items=cart|length %}
              {% if cart|length > 0 %}
                Your cart:
                <a href="{% url "cart:cart_detail" %}">
                  {{ total_items }} item{{ total_items|pluralize }},
                  ${{ cart.get_total_price }}
                </a>
              {% else %}
                Your cart is empty.
              {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>